body{
    max-width: 100%;
    overflow-x: hidden;
    
  }
  
  
  .box{
    position: relative;
    width: 100%;
    height: 665px;
    background:  rgba(255, 182, 193, 0.76);
  }
  

  .contact{
    position: absolute;
    top: 140px;
    left: 590px;
    height: 150px;
    }

  .modal-body{
   
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    color: #ffffff;
    
    text-align: left;
    background-color:  #B22222;
    padding: 20px;
  
  }

  .modal-dialog{
      position: absolute;
      top: 150px;
      left: 450px;
  }

  .modal-header{
    color: #ffffff;
    background-color:  #B22222;
   
  }
  
  .modal-title{
    font-family: 'Hanalei Fill', cursive;
    text-align: center;
  }

  .btn-primary{
    font-family: 'Questrial', sans-serif;
    background-color: #B22222 !important;
  }

  .btn-secondary{
    font-family: 'Questrial', sans-serif;
  }

  .modal-dialog{
    box-shadow: 4px 4px 4px;
}