body{
    max-width: 100%;
    overflow-x: hidden;
  }
  
  
  nav{
    background: rgba(255, 253, 71, 0.9);
  }
  
  .logo{
    width: 50px;
    height: 50px;
  }
  
  h2{
    position: relative;
    font-family: 'shrikhand';
    top: 5px;
  }
  
  .nav-link{
    font-family: Playfair Display;
    font-weight: bold;
    color: black !important;
  }
  
  .nav-link2{
    font-family: Playfair Display;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    padding: 5px;
  }

  .dropdown-menu{
    background-color: #ffffff;
    left: -80px;
  }

.dropdown-item{
    font-family: Roboto;
    font-size: 15px;
}

.box{
    position: relative;
    width: 100%;
    height: 615px;
    background: #ffa07a;
  }
  
  .judul{
    position: absolute;
    font-family: Playfair Display;
    font-size: 50px;
    font-weight: bold;
    left: 460px;
    top: 130px;
  }

  .contact{
      position: absolute;
      top: 30px;
      }

  .isi{
    position: absolute;
    font-family: Roboto;
    font-size: 20px;
    width: 600px;
    left: 460px;
    top: 230px;
  
  }

  .mail{
      position: absolute;
      width: 38px;
      top: 350px;
      left: 460px;
  }

  .tim{
      position: absolute;
      font-family: Roboto;
      font-size: 20px;
      width: 600px;
      left: 508px;
      top: 352px;
      font-weight: bold;
  
  }
  
  .before-footer{
    position: absolute;
    width: 100%;
    height: 220px;
    background: rgba(255, 253, 71, 0.9);
    top: 680px;
  }
  
  .sun{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 600px;
    top: 20px;
  }
  
  .nama{
    position: relative;
    font-family: 'shrikhand';
    left: 655px;
    top: 27px;
  }
  
  .email{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 580px;
    top: 82px;
  }
  
  .tim-m{
    position: absolute;
    font-family: Playfair Display;
    font-size: 15px;
    left: 610px ;
    top: 83px;
  }
  
  .follow{
    position: absolute;
    font-family: Playfair Display;
    font-size: 15px;
    left: 637px ;
    top: 120px;
  }
  
  .fb{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 615px;
    top: 155px;
  }
  
  .ig{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 645px;
    top: 155px;
  }
  
  .tw{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 675px;
    top: 155px;
  }
  
  .yt{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 705px;
    top: 155px;
  }
  
  footer{
    position: absolute;
    width: 1440px;
    height: 40px;
    background-color: #ffffff;
    top: 900px;
  }
  
  .hub{
    position: absolute;
    font-family: Playfair Display;
    font-size: 14px;
    left: 41.19px;
    top: 8px;
    color: #000000;
  }
  
  .ten{
    position: absolute;
    font-family: Playfair Display;
    font-size: 14px;
    left: 170px;
    top: 8px;
    color: #000000;
  }
  
  .kri{
    position: absolute;
    font-family: Playfair Display;
    font-size: 14px;
    left: 300px;
    top: 8px;
    color: #000000;
  }
  
  .cr{
    position: absolute;
    font-family: Playfair Display;
    font-size: 14px;
    left: 1070px;
    top: 8px;
    color: #000000;
  }
  
  
  